@font-face {
    font-family: 'amikobold';
    src: url('fonts/Amiko-Bold-webfont.eot');
    src: url('fonts/Amiko-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Amiko-Bold-webfont.woff2') format('woff2'),
         url('fonts/Amiko-Bold-webfont.woff') format('woff'),
         url('fonts/Amiko-Bold-webfont.ttf') format('truetype'),
         url('fonts/Amiko-Bold-webfont.svg#amikobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'a';
    src: url('fonts/Aaargh-webfont.eot');
    src: url('fonts/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Aaargh-webfont.woff2') format('woff2'),
         url('fonts/Aaargh-webfont.woff') format('woff'),
         url('fonts/Aaargh-webfont.ttf') format('truetype'),
         url('fonts/Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'amiko';
    src: url('fonts/Amiko-Regular-webfont.eot');
    src: url('fonts/Amiko-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Amiko-Regular-webfont.woff2') format('woff2'),
         url('fonts/Amiko-Regular-webfont.woff') format('woff'),
         url('fonts/Amiko-Regular-webfont.ttf') format('truetype'),
         url('fonts/Amiko-Regular-webfont.svg#amikoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bello';
    src: url('fonts/Bellota-BoldItalic-webfont.eot');
    src: url('fonts/Bellota-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Bellota-BoldItalic-webfont.woff2') format('woff2'),
         url('fonts/Bellota-BoldItalic-webfont.woff') format('woff'),
         url('fonts/Bellota-BoldItalic-webfont.ttf') format('truetype'),
         url('fonts/Bellota-BoldItalic-webfont.svg#bellotabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'whitney';
    font-style: normal;
    font-weight: normal;
    src: local('Whitney-Semibold Regular'), url('fonts/whitneysemibold.woff') format('woff');
    }
body
{
    left: 0;
    top: 0;
    background-color: white;
    overflow-x: hidden;
}
h1, p, tr
{
    font-family: amikobold;
    color: white;
}
.black
{
    color: black;
}
.centre
{
    text-align: center;
}
.sizeLogo
{
    width: 5vw;
    height: 5vw;
}
.floatLeft
{
    float: left;
}
.txtFloat
{
    font-size: 0.45vw;
}
.purple
{
    color: #9b59d9;
}
.nabi
{
    font-size: 2.3vw;
}
.sizeXP
{
    font-size: 0.65vw;
}
h1
{
    font-family: amikobold;
}
.bandeHaut
{
    width: 100%;
    margin: auto;
    z-index: 5;
}
a
{
    text-decoration: none;
    color: black;
}
.sizeMenu
{
    font-size: 2vw;
}
.marginMenu
{
    margin-left: 2vw;
}
.flexMenu
{
    display: flex;
}
.h1Inscription
{
    margin-top: 3vw;
    margin-left: 5vw;
    font-size: 2vw;
}
.td
{
    animation-name: td;
    animation-iteration-count: infinite;
    animation-duration: 2.4s;
}
@keyframes td
{
    50%{color: rgb(177, 104, 196)}
}

nav li
{
    list-style-type: none;
}
.submenu
{
    display: none;
}
.menu
{
    list-style-type: none;
}
.flex
{
    display: flex;
}
.bloc
{
    width: 20vw;
    background-color: #F7941D;
}
ul 
{
    list-style-type: none;
}
#scroll::-webkit-scrollbar 
{
    width: 0.5vw;
}
#scroll::-webkit-scrollbar-thumb
{
    border-radius: 0vw 1vw 0vw 0vw;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid black;
}
#scroll::-webkit-scrollbar-track
{
    background-color: rgba(0,0,0,0.3);
    border-radius: 0vw 1vw 0vw 0vw;
}

.colorNabi
{
    color: black; 
}
.connexion
{
    width: 25vw;
    margin-top: 5vw;
    margin-left: 35vw;
    border: 0.01vw solid rgba(166, 166, 166, 0.3);
}
.pseudoC:active
{
    border: 1px solid rgba(102, 0, 255, 1);
}
